.vscode
__pycache__
*.o
*.a
a.out
asm/asm
corewar/corewar
unit_tests
coverage
vgcore.*
*.s
*.cor
!corewar/tests/champions/*.cor
*.dump
*.sh
bonus/**/*.sav
bonus/**/*.conf
!bonus/champions/*.s
!bonus/champions/*.cor
remove_spaces
file*